<!DOCTYPE HTML>
<html>

<head>
	<script>
		window.onload = function () {
			var dps = []; //dataPoints. 


			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				exportEnabled: true,

				theme: "light2", // "light1", "light2", "dark1", "dark2"
				title: {
					text: "Simple Column Chart with Name Labels"
				},
				axisY: {
					includeZero: true
				},
				data: [{
					type: "column", //change type to bar, line, area, pie, etc
					yValueFormatString: "#,##0.0#\"%\"",
					//indexLabel: "{y}", //Shows y value on all Data Points
					indexLabelFontColor: "#5A5757",
					indexLabelFontSize: 16,
					indexLabelPlacement: "outside",
					dataPoints: dps
				}]
			});

			//------------------------------------------------------------------------------------
			//Send paras to the Graph 
			function addDataPointsAndRender() {
				xValue = String(document.getElementById("xValue").value);
				yValue = Number(document.getElementById("yValue").value);
				dps.push({
					label: xValue,
					y: yValue
				});
				console.log(dps); //wird auf der Console Gelogged
				chart.render();

			}

			var renderButton = document.getElementById("renderButton");
			renderButton.addEventListener("click", addDataPointsAndRender);

			//------------------------------------------------------------------------------------
			//Load Doc Data from Database
			function loadDoc() {
				const xhttp = new XMLHttpRequest();
				xhttp.onload = function () {
					var data = JSON.parse(this.responseText);
					console.log(data);
					dps.push({
						wertx: wertx,
						werty: werty
					});
					chart.render();
				}
				xhttp.open("GET", "/api/barchartValue");
				xhttp.send();
			}

			var loadDocButton = document.getElementById("loadDoc");
			loadDocButton.addEventListener("click", loadDoc);


			//------------------------------------------------------------------------------------
			function sendDataPoints() {
				var xhr = new XMLHttpRequest();
				var xValue = document.getElementById("xValue").value;
				var yValue = document.getElementById("yValue").value;
				var data = {
					wertx: xValue,
					werty: yValue
				};
				xhr.open("POST", "/api/barchartValue");
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.send(JSON.stringify(data));
				xhr.onload = function () {
					if (xhr.status === 200) {
						console.log("Data sent successfully");
					} else {
						console.log("Error sending data");
					}
				};
			}

			var sendDataButton = document.getElementById("sendDataButton");
			sendDataButton.addEventListener("click", sendDataPoints);
			//------------------------------------------------------------------------------------


	</script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>

	</script>
	X Value:
	<input id="xValue" type="Text" step="any" placeholder="Enter Name for X-Axis">
	Y Value:
	<input id="yValue" type="number" step="any" placeholder="Enter Y-Value">
	<button id="renderButton">Add DataPoint & Render</button>
	<button id="sendDataButton">POST Graph</button>
	<button id="loadDoc">GET Graph</button>
	<div id="chartContainer" style="height: 270px; width: 100%;">
	</div>
</body>

</html>